.view-cont {
  position:relative;

  .top-right {
    position: absolute; 
    top: 0px;
    right: 0px;
    cursor: pointer;
  }

  .node-cont {
    display: flex;
    flex-flow: row wrap;
  
    > div {
      margin: 10px 10px;
    }
  }
}

