.top-cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.filter-menu {
  display: flex;
  flex-flow: column nowrap;
}

.view-cont {
  position:relative;

  .top {

    .top-left {
      
    }

    .top-right {
      position: absolute; 
      top: 0px;
      right: 0px;
      cursor: pointer;
    }
  }
  

  .node-cont {
    display: flex;
    flex-flow: row wrap;
  
    > div {
      margin: 10px 10px;
    }
  }
}

