<div class="view-cont">
  <div class="top">
    <div class="top-left">
      <app-tracker-options *ngIf="options" [tracker]="currentTrackerName" 
      [isShown]="showOptions" [options]="options"
      [trackerKey]="currentTrackerKey">
      </app-tracker-options>
    </div>
    <div class="top-right">
        <app-tracker-node-new [tracker]="currentTrackerName" (click)="addNode()"></app-tracker-node-new>
        <mat-icon svgIcon="settings" (click)="showOptions = !showOptions"></mat-icon>     
      </div>
  </div>
  <div [@listFade]="parentNodes?.length" class="node-cont">
    <div @listFade *ngFor="let node of parentNodes">
      <app-tracker-node [tracker]="currentTrackerName" [nodeKey]="node.key" 
      (onDelete)="delNode($event)" (onCopy)="copyNode($event)"
      (onAddChild)="addChild($event)"
      [options]="options"></app-tracker-node>
    </div>
  </div>
  
</div>
