
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink='/trackers/new'><span><mat-icon svgIcon="plus-circle"></mat-icon><span class="nav-text">New</span></span></li>
      <li nz-menu-item routerLink='/profile'><span><mat-icon svgIcon="account"></mat-icon><span class="nav-text">User</span></span></li>
      <li nz-submenu>
        <span title routerLink='/trackers/home'><mat-icon svgIcon="chart-areaspline"></mat-icon><span class="nav-text">Trackers</span></span>
        
        <ul>
          <li nz-menu-item class="flex-vcenter" 
          *ngFor="let tracker of trackersByLastViewed$ | async" routerLink='/trackers/view/{{tracker.name}}'>
            <mat-icon class="icon"[svgIcon]="tracker.iconName"></mat-icon>
            <span class="nav-text">{{tracker.name}}</span>
          </li>
        </ul>
      </li>
     
    </ul>
    <div>
      <i class="anticon trigger" 
      style="color: #d3d3d3;"
      (click)="isCollapsed=!isCollapsed">
      </i>
      <span (click)="isCollapsed=!isCollapsed">Collapse</span>
  </div>
  </nz-sider>
  <nz-content>
    <router-outlet></router-outlet> 
  </nz-content>
  
</nz-layout>

<!-- <i class="anticon trigger" 
      style="color: #d3d3d3;"
      [class.anticon-menu-fold]="!isCollapsed" 
      [class.anticon-menu-unfold]="isCollapsed" 
      (click)="isCollapsed=!isCollapsed"> -->
