agm-map {
    height: 300px;
}

// #fab {
//     position: absolute;
//     top: -21px;
//     right: 25px;
// }

.toolbar-title {
  .subtitle {
    font-size: 66%;
    margin: 0;
  }
}

.nb-theme-cosmic nb-layout .layout nb-layout-header nav {
  height: 1.25rem;
}
