<mat-tab-group>

    <mat-tab> 
      <ng-template mat-tab-label>
        <mat-icon svgIcon="pen"></mat-icon>
      </ng-template>
      <ng-template matTabContent>
          <app-tracker-map></app-tracker-map>
          <app-form-dynamic [dataObject]="trackerBeerDyn" (onSave)="onSave($event)"></app-form-dynamic>  
      </ng-template>
    </mat-tab>
  
    <mat-tab> 
      <ng-template mat-tab-label>
          <ion-icon name="beer"></ion-icon>
      </ng-template>
      <ng-template matTabContent>
        <!-- Common Selections -->
      </ng-template>
    </mat-tab>
  
  </mat-tab-group>




