<mat-tab-group>

    <mat-tab> 
      <ng-template mat-tab-label>
        <mat-icon svgIcon="pen"></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-form-dynamic [dataObject]="trackerWeedDyn" (onSave)="onSave($event)"></app-form-dynamic> 
      </ng-template>
    </mat-tab>
  
    <mat-tab> 
      <ng-template mat-tab-label>
        <mat-icon svgIcon="dumbbell"></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <!-- Common Selections -->
      </ng-template>
    </mat-tab>
  
  </mat-tab-group>
  
