agm-map {
    height: 400px;
    // width: 100px;
}

#autoSearch {
    width: 100%;
}

.form-group {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5px;
    align-items: center;
}

.map-cont {
    position: relative;

    #map-hide-btn {
        z-index: 101;
        position: absolute;
        right: -10px;
        top: -15px;
    }
}