.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.flex-center {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-vcenter {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
}

.flex-space-between {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-space-around {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}