<form novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
  <div *ngFor="let prop of objectProps">
    <mat-form-field style="width: 100%">
      <mat-label [attr.for]="prop">{{prop.label}}</mat-label>
        <div [ngSwitch]="prop.type">
    
          <!-- Text Input -->
          <input matInput *ngSwitchCase="'text'" 
            [formControlName]="prop.key"
            [id]="prop.key" [type]="prop.type">

          <!-- Number Input -->
          <input matInput *ngSwitchCase="'number'" 
            [formControlName]="prop.key"
            [id]="prop.key" [type]="prop.type">

          <!-- Date Input -->
          <input matInput *ngSwitchCase="'date'" 
            [formControlName]="prop.key"
            [id]="prop.key" [type]="prop.type">

          <!-- DateTime Input -->
          <input matInput *ngSwitchCase="'datetime-local'"
          [formControlName]="prop.key"
          [id]="prop.key" [type]="prop.type">

          <!-- Text Area -->
          <input matInput *ngSwitchCase="'textarea'" 
          [formControlName]="prop.key"
          [id]="prop.key" [type]="prop.type" cols="10" rows="5">
      
          <!-- Radio List -->
          <div *ngSwitchCase="'radio'">
            <mat-label *ngFor="let option of prop.options">
              <input matInput
                type="radio"
                [name]="prop.key"
                [formControlName]="prop.key"
                [value]="option.value"> {{option.label}}
            </mat-label>
          </div> 

          <!-- Select List -->
          <div *ngSwitchCase="'select'">
            <mat-select [formControlName]="prop.key" placeholder="Choose One">
              <mat-option *ngFor="let option of prop.options" [value]="option.value">
                {{ option.label }}
              </mat-option>
            </mat-select>
          </div>

        </div>
      </mat-form-field>

      <div class="error" *ngIf="form.get(prop.key).invalid && (form.get(prop.key).dirty || form.get(prop.key).touched)">
          <div *ngIf="form.get(prop.key).errors.required">
            {{ prop.label }} is required.
      </div>
    </div>
  </div>
  <div class="flex-center">
    <ion-button type="submit">Save</ion-button>
  </div>
</form>
<hr />
<div *ngIf='isDebugMode'>
    <strong>Form Value</strong>
    <pre>{{ form.value | json }}</pre>
    <strong>Form is valid:</strong> {{form.valid}}  
</div>