::ng-deep .field-cont {
  .mat-form-field-underline {
    display: none;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}

.btn-del {
  background: red;
  color: white;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}


.field-cont {
  display: flex;
  align-items: center;

  .field-sec {
    width: 100%;
  }
  .title-cont {
    display: flex;
    justify-content: center;

    .title {
      background-color: inherit;
      border: none;
      font-size: 1.3em;
      font-weight: 500;
      display: flex;
      flex-flow: row nowrap;
      align-self: center;
      text-align: center;
    }
  }

  .left {
    flex: 80%;
    margin-right: 5px;
  }

  .right {
    flex: 20%;
  }
}