<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blankets and Pillows
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!--   
  <div id="circles"></div>
  <menu-wheel
    [items]='[1, 2, 3, 4, 5, 6]'
    [menuRadius]='50'
    [itemRadius]='10'
    style="position:absolute;">
  </menu-wheel> -->

</ion-content>

<ion-footer class="flex-space-around">
    <ion-item tappable routerLink='/trackers'><ion-icon name="analytics"></ion-icon></ion-item>
    <!-- <ion-item tappable routerLink='/login'><ion-icon name="key"></ion-icon></ion-item> -->
    <ion-item tappable routerLink='/profile'><ion-icon name="person"></ion-icon></ion-item>
  <!-- <button ion-button icon-end>
      Right Icon
      <ion-icon name="star"></ion-icon>
    </button> -->
</ion-footer>