<div class="flex-center">
  <mat-form-field style="width: 50%">
    <mat-label>What do you want to track?</mat-label>
    <input id="trackerName" matInput [(ngModel)]="trackerName" />
  </mat-form-field>
</div>
  
<p class="flex-center">Choose an icon:&nbsp; <a href="https://materialdesignicons.com/" target="_blank">Icons</a></p>
<div class="flex-center">
  <mat-form-field style="width: 33%">
    <mat-label>Icon</mat-label>
    <input id="iconName" matInput [(ngModel)]="iconName" placeholder="music-note-eigth" />
  </mat-form-field>
</div>

<ion-button class="flex-center" (click)="onSave()">Create</ion-button>

