.t-icon {
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;
  border: 1px solid orange;
  align-items: center;
  margin: 0px 10px;
  border-radius: 5px;
  padding: 5px;
  min-width: 90px;

}