<div *ngIf="node" class="node">
  <div class="top">
      <div class="left">
          <div *ngFor="let field of nodeFields">
            <app-tracker-field [data]="field" [nodeKey]="node.key" [userKey]="userKey" [trackerName]="trackerName"></app-tracker-field>
          </div>
          <mat-icon svgIcon="plus" @slideInFadeOut *ngIf="options && options['isEditable']" (click)="addField(node.key)"></mat-icon>
        </div>
        <div class="right">
          <mat-icon svgIcon="plus-circle" *ngIf="options && options['isEditable']" (click)="addChild(node.key)"></mat-icon> 
          <mat-icon svgIcon="content-copy" *ngIf="options && options['isEditable']" (click)="copyNode(node)"></mat-icon> 
          <mat-icon svgIcon="delete" *ngIf="options && options['isDeletable']" (click)="delete(node)"></mat-icon> 
        </div>
  </div>
  <div class="bottom">
    <div *ngIf="node.children">
      <app-tracker-node *ngFor="let childKey of node.children" 
        [nodeKey]="childKey"
        [tracker]="trackerName">
      </app-tracker-node>
    </div>
  </div>
 
</div>

<!-- <div class="options">
      <mat-icon mat-icon-button [matMenuTriggerFor]="appMenu" svgIcon="arrow-down-drop-circle"></mat-icon> 
    </div> -->
<!-- Node Menu -->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="addChild(node.key)">Add Child</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="delete(node.key)">Delete</button>
</mat-menu>  