.node {
  position: relative;
  border: 2px solid lightslategrey;
  border-radius: 5px;
  padding: 5px;
  

  .options {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .top {
    display: flex;

    .left {
      flex: 80%;
    }
  
    .right { 
      flex: 20%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
    }
  }
  
}

.recorder-cont {
	display: flex;
	flex-flow: column;
  align-items: center;

  mat-form-field {
    margin-top: 8px; 
  }
  
  .time-picker {
    display: flex;
    flex-flow: row nowrap;
  }
}