<!-- <div *ngIf="oldNode">
<div *ngIf="node" class="node">
  <div class="top">
    <div class="left" *ngIf="orderedFieldsObjs" (cdkDropListDropped)="drop($event)" cdkDropList>
      <div *ngFor="let field of orderedFieldsObjs" cdkDrag>
        <app-tracker-field [field]="field" [nodeKey]="node.key" 
        [userKey]="userKey" [trackerName]="trackerName"
        [options]="options"> 
        </app-tracker-field>
      </div>
      <mat-icon @slideInFadeOut svgIcon="plus" *ngIf="options && options['isEditable']" (click)="addField(node.key)"></mat-icon>
    </div>
    <div class="right">
      <mat-icon @slideInFadeOut svgIcon="plus-circle" *ngIf="options && options['isEditable']" (click)="addChild(node)"></mat-icon> 
      <mat-icon @slideInFadeOut svgIcon="content-copy" *ngIf="options && options['isEditable']" (click)="copyNode(node)"></mat-icon> 
      <mat-icon @slideInFadeOut svgIcon="delete" *ngIf="options && options['isDeletable']" (click)="delete(node)"></mat-icon> 
    </div>
  </div>
  <div class="bottom">
    <div *ngIf="node.children">
      <app-tracker-node *ngFor="let childKey of node.children" 
        [nodeKey]="childKey"
        [tracker]="trackerName"
        [options]="options">
      </app-tracker-node>
    </div>
  </div>
</div>
</div> -->

<div *ngIf="!oldNode">
  <div *ngIf="node" class="node">
      <div class="left" *ngIf="orderedFieldsObjs?.length > 0" (cdkDropListDropped)="drop($event)" cdkDropList>
        <!-- Should do with order.... -->
        <div *ngFor="let field of orderedFieldsObjs" cdkDrag>
          <app-tracker-field  [field]="field" 
          [node]="node" [userKey]="userKey" 
          [trackerName]="trackerName" [options]="options"
          (onFieldRemove)="onFieldRemove($event)"> 
          </app-tracker-field>
        </div>
        <mat-icon svgIcon="plus" (click)="addField(node)"></mat-icon>
      </div>
      <!-- ICONS -->
      <div class="right">
        <mat-icon svgIcon="content-copy" (click)="copyNode(node)"></mat-icon> 
        <mat-icon svgIcon="delete" (click)="deleteNode(node)"></mat-icon> 
      </div>
  </div>
</div>

<!-- <div class="options">
      <mat-icon mat-icon-button [matMenuTriggerFor]="appMenu" svgIcon="arrow-down-drop-circle"></mat-icon> 
    </div> -->
<!-- Node Menu -->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="addChild(node.key)">Add Child</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="delete(node.key)">Delete</button>
</mat-menu>  